.App {
  min-height: 100vh;
  padding-top: 60px;
}

.title {
  text-align: center;
  padding: 20px 0;
}

.p-tabview-nav {
  justify-content: center;
  border: none;
  margin-bottom: 10px;
}

.p-tabview-panels {
  width: 450px;
  border-radius: 5px;
  margin: 0 auto;
}
