.App {
  min-height: 100vh;
  padding-top: 10px;
  padding-bottom: 60px;
}

.app-container {
  background: #00d2ff;
  background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
  background: linear-gradient(to right, #928DAB, #00d2ff);
}

.title {
  text-align: center;
  padding: 20px 0;
}

.p-tabview-nav {
  justify-content: center;
  border: none;
  margin-bottom: 10px;
  background-color: transparent;
}

.p-tabview-nav-link {
  background-color: transparent;
  color: #000;
}

.p-tabview-selected > a {
  color: #7254f3;
}

.p-tabview-panels {
  border-radius: 10px;
  margin: 0 auto;
  min-width: 450px;
  width: fit-content;
  margin-top: 15px;
}

.p-toast-message-icon {
  margin-right: 15px;
  width: 26px;
  height: 26px;
}

.p-toast-message-content {
  display: flex;
  align-items: center;
}

.p-toast-detail {
  margin-top: 5px;
}