.p-dropdown {
  width: 120px;   
  margin-left: 20px;                         
}

.p-dropdown-items {
  padding: 0;
}

.p-inputnumber-input {
  margin-left: 20px;
}

.answer-input {
  margin-right: 20px;
}